//.repair-calculation-module-row

.repair-calculation-module-row {
    display: flex;
    flex-wrap:wrap;

    @media only screen and (max-width: 992px){
        flex-direction: column;
    }

    //.repair-calculation-module-row__repair-calculation-switcher

    &__repair-calculation-switcher {
        position: relative;
        flex: 0 0 25%;
        width: 25%;
        max-width: 25%;
        @media only screen and (max-width: 992px){
            flex: 0 0 100%;
            width: 100%;
            max-width: 100%;
            &:not(:first-child) {
                margin-top: 11px;
            }
        }
    }

    //.repair-calculation-module-row__col

    &__col {
        padding: 0 10px;
        width: 50%;
        @media only screen and (max-width: 992px){
            width: 100%;
        }
    }
}
