//.input

.input {
    display: flex;
    flex-direction: column;

    //.input__label

    &__label {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #B3BABA;
        margin-bottom: 4px;
    }

    //.input__action

    &__action {
        width: 100%;
        height: 50px;
        border: 1px solid #E3E5E5;
        padding-left: 20px;
        transition: all .3s ease;
        &:focus {
            border: 1px solid color('main');
        }
    }
}
