//.btn-action

.btn-action {

    @include reset-link;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: color('white');
    padding: 15px 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: color('main');
    transition: all .3s ease;
    cursor: pointer;
    width: 212px;
    white-space: nowrap;
    border: none;
    @media only screen and (max-width: 992px) {
        padding: 10px 38px;
    }

    //.btn-action--empty

    &--empty {
        background-color: transparent;
        border: 2px solid color('main');
    }

    &:hover {
        background-color: color('main-hover');
    }
}
